fastmcp
mcp
ollama
sqlite-vec
pytest
uvicorn
fastapi
httpx
requests
sentence-transformers
einops
dateparser
torch
pytest-playwright
playwright
pytest-playwright-visual
pytest-timeout
flake8
pytest-cov
pytest-xdist
